{% extends "base.html" %}
{% set cover_text = article.title %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body container mx-auto max-w-6xl p-10">
  <footer class="post-info text-gray-600">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    {% if article.modified %}
    <time class="modified text-gray-600" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
    {% endif %}
    {% if article.authors %}
    <address class="vcard author text-gray-600">
      By {% for author in article.authors %}
          {{ author }}
        {% endfor %}
    </address>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
        Tags:
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
