<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <meta charset="utf-8"/>

  <!-- Let browser know website is optimized for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Icon -->
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon.ico">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon-32x32.png" sizes="32x32">

  <!-- Import FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <!-- Customize CSS -->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/>

  {% block extra_head %}{% endblock extra_head %}
</head>

<body class="flex flex-col min-h-screen items-stretch justify-between">

<header class="flex justify-center items-center grow-0">
  <nav id="header" class="fixed w-full z-30 top-0">
    <div class="container mx-auto max-w-full flex flex-wrap items-center justify-between px-5 py-2">
      <div class="h-[72px]">
        <a id="brand_logo" class="hidden flex md:flex lg:flex justify-center items-center no-underline hover:no-underline" href="{{ SITEURL }}/">
          <img class="inline h-10 w-10 mr-2 mt-1" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/android-chrome-192x192.png"/>
          <h2 class="text-white">sciwork</h2>
        </a>
      </div>

      <div class="block lg:hidden">
        <button id="nav_toggle" class="flex items-center p-1 hover:text-red-800 text-white">
          <style type="text/css">
            #nav_icon.open span:nth-child(1) {
              transform: translateY(0.5rem) rotate(45deg);
            }

            #nav_icon.open span:nth-child(3) {
              transform: translateY(-0.5rem) rotate(-45deg);
            }

            #nav_icon.open span:nth-child(2) {
              transform: scale(0);
            }
          </style>
          <div id="nav_icon" class="w-6">
            <span class="bg-white rounded block ease-in-out duration-200" style="height: 0.1rem; margin: 0.4rem 0"></span>
            <span class="bg-white rounded block ease-in-out duration-200" style="height: 0.1rem; margin: 0.4rem 0"></span>
            <span class="bg-white rounded block ease-in-out duration-200" style="height: 0.1rem; margin: 0.4rem 0"></span>
          <div>
        </button>
      </div>

      <div id="nav_content" class="flex-grow w-full h-screen lg:h-full lg:flex lg:w-auto hidden">
        <hr class="border-b border-gray-100 opacity-25 mt-4 py-0"/>

        <ul class="list-reset h-auto lg:flex justify-end flex-1 items-center text-right lg:text-2xl text-3xl" style="font-family: 'Yanone Kaffeesatz'">
          {% for title, link in MENUITEMS %}
            <li class="list-none lg:mr-4 mx-8 lg:py-0 py-2">
              <a href="{{ SITEURL }}/{{ link }}" class="text-white no-underline hover:text-red-600">{{ title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% include 'cover.html' %}
</header>

<main class="grow">
  {% block content %}{% endblock %}
</main>

<footer class="items-center bg-gray-800 text-white grow">
  <div class="container mx-auto max-w-6xl px-5 py-2">
    <h3>contact us</h3>
    <div class="py-4 text-xl">
    <a class="fa-stack" target="_blank" href="https://twitter.com/intent/tweet?screen_name=sciwork&ref_src=twsrc%5Etfw" data-show-count="false">
      <i class="fas fa-circle fa-stack-2x text-white"></i>
      <i class="fab fa-twitter fa-stack-1x text-gray-800" style="padding: 0.1rem 0 0 0.1rem"></i>
    </a>
    <a class="fa-stack" target="_blank" href="mailto: contact@sciwork.dev">
      <i class="fas fa-circle fa-stack-2x text-white"></i>
      <i class="fas fa-envelope fa-stack-1x grey-text text-gray-800"></i>
    </a>
    <a class="fa-stack" target="_blank" href="https://github.com/sciwork/swportal">
      <i class="fas fa-circle fa-stack-2x text-white"></i>
      <i class="fab fa-github fa-stack-1x grey-text text-gray-800"></i>
    </a>
    </div>
  </div>

  <div class="bg-gray-900">
    <div class="container mx-auto max-w-6xl px-5 py-2">
      the website is powered by
      <a class="text-white" target="_blank" href="https://getpelican.com">Pelican</a>
      and
      <a class="text-white" target="_blank" href="https://python.org">Python</a>.
    </div>
  </div>
</footer>
</body>

<script>
  var header = document.getElementById('header')
  var header_bg = 'rgba(0, 0, 0, 0.9)';
  var brand_logo = document.getElementById('brand_logo');
  var nav_content = document.getElementById('nav_content');
  var nav_toggle = document.getElementById('nav_toggle');
  var nav_icon = document.getElementById('nav_icon');
  var cover_bg = document.getElementById('cover-bg');

  document.addEventListener("DOMContentLoaded", function(event) {
    if (typeof(cover_bg) == 'undefined' || cover_bg == null) {
      header.style.backgroundColor = header_bg;
    }
  });

  document.addEventListener('scroll', function() {
    if (typeof(cover_bg) != 'undefined' && cover_bg != null) {
      if (window.scrollY > 10) {
        header.style.backgroundColor = header_bg;
      } else {
        header.style.backgroundColor = '';
      }
    }
  });

  document.onclick = function(e) {
    var target = (e && e.target) || (event && event.srcElement);

    if (!checkParent(target, nav_content)) {
      if (checkParent(target, nav_toggle)) {
        if (nav_content.classList.contains('hidden')) {
          nav_icon.classList.add('open');
          nav_content.classList.remove('hidden');
          brand_logo.classList.remove('hidden');
          header.style.backgroundColor = header_bg;
          document.body.classList.add('overflow-hidden');
        } else {
          nav_icon.classList.remove('open');
          nav_content.classList.add('hidden');
          brand_logo.classList.add('hidden');
          document.body.classList.remove('overflow-hidden');
          if (typeof(cover_bg) != 'undefined' && cover_bg != null && window.scrollY <= 10) {
            header.style.backgroundColor = '';
          }
        }
      }
    }
  }

  function checkParent(t, elm) {
    while (t.parentNode) {
      if ( t == elm ) {
        return true;
      }
      t = t.parentNode;
    }
    return false;
  }
</script>

</html>
