<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <meta charset="utf-8"/>

  <!-- Let browser know website is optimized for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Icon -->
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon.ico">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon-32x32.png" sizes="32x32">

  <!-- Import FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <!-- Customize CSS -->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/>

  {% block extra_head %}{% endblock extra_head %}
</head>

<body class="flex flex-col min-h-screen items-stretch justify-between">

<header class="flex justify-center items-center grow-0">
  <nav id="header" class="fixed w-full z-30 top-0">
    <div class="container mx-auto max-w-full flex flex-wrap items-center justify-between px-5 py-2">
      <div class="h-[72px]">
        <a id="brand_logo" class="hidden flex md:flex lg:flex justify-center items-center no-underline hover:no-underline" href="{{ SITEURL }}/">
          <img class="inline h-10 w-10 mr-2 mt-1" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/android-chrome-192x192.png"/>
          <h2 class="text-white">sciwork</h2>
        </a>
      </div>

      <div class="block lg:hidden">
        <button id="nav_toggle" class="flex items-center p-1 hover:text-red-800 text-white">
          <style type="text/css">
            #nav_icon.open span:nth-child(1) {
              transform: translateY(0.5rem) rotate(45deg);
            }

            #nav_icon.open span:nth-child(3) {
              transform: translateY(-0.5rem) rotate(-45deg);
            }

            #nav_icon.open span:nth-child(2) {
              transform: scale(0);
            }
          </style>
          <div id="nav_icon" class="w-6">
            <span class="bg-white rounded block ease-in-out duration-200" style="height: 0.1rem; margin: 0.4rem 0"></span>
            <span class="bg-white rounded block ease-in-out duration-200" style="height: 0.1rem; margin: 0.4rem 0"></span>
            <span class="bg-white rounded block ease-in-out duration-200" style="height: 0.1rem; margin: 0.4rem 0"></span>
          <div>
        </button>
      </div>

      <div id="nav_content" class="flex-grow w-full h-screen lg:h-full lg:flex lg:w-auto hidden">
        <hr class="border-b border-gray-100 opacity-25 mt-4 py-0"/>

        <ul class="list-reset h-auto lg:flex justify-end flex-1 items-center text-right lg:text-2xl text-3xl" style="font-family: 'Yanone Kaffeesatz'">
          {% for title, link in MENUITEMS %}
            <li class="list-none lg:mr-4 mx-8 lg:py-0 py-2">
              <a href="{{ SITEURL }}/{{ link }}" class="text-white no-underline hover:text-red-600">{{ title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% include 'cover.html' %}
</header>

<main class="grow">
  {% block content %}{% endblock %}
</main>


<footer class="bg-blue-900 text-white">
  <div class="container mx-auto max-w-6xl px-5 py-2 mt-4 mb-4" >
    <div class="flex flex-wrap justify-between">
      <div class="flex items-start">
        <img class="inline h-12 w-12 mr-8 mt-3" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/android-chrome-192x192.png"/>
        <h2>sciwork</h2>
    </div>

      <div class="flex flex-col">
        <h3 class="text-red-800 mb-2">activity</h3>
        <div class="pl-2">
          <a href='' class="block text-white no-underline">meetup</a>
          <a href='' class="block text-white no-underline">sprint</a>
          <a href='' class="block text-white no-underline">seminar</a>
          <a href='' class="block text-white no-underline">conference</a>
        </div>
        <h3 class="text-red-800 mt-1 mb-1">about</h3>
        <div class="pl-2">
          <a href='' class="block text-white no-underline">organizers</a>
        </div>
      </div>

      
      <div class="flex flex-col">
        <h3 class="text-red-800 text-lg font-semibold">project</h3>
        <div class="pl-2">
          <a href='' class="block text-white no-underline">modmesh</a>
          <a href='' class="block text-white no-underline">pydoc</a>
          <a href='' class="block text-white no-underline">portal</a>
          <a href='' class="block text-white no-underline">pyLiteracy</a>
          <a href='' class="block text-white no-underline">uTensor</a>
          <a href='' class="block text-white no-underline">Cytnx</a>
          <a href='' class="block text-white no-underline">Commitizen-tools</a>
        </div>
      </div>
    
      <div class="flex flex-col">
        <h3 class="text-red-800 text-lg font-semibold">contact us</h3>
        <div class="pl-2">
          <a href="mailto:contact@sciwork.dev" class="block text-white no-underline">
            <i class="far fa-envelope mr-2"></i>contact@sciwork.dev
          </a>
          <a href="https://github.com/sciwork/swportal" class="block text-white no-underline">
            <i class="fab fa-github mr-2"></i>https://github.com/sciwork/swportal
          </a>   
        </div>
       
        <div class="flex flex-row gap-4 mt-4">
          <div class="flex items-center justify-center py-4 px-6 rounded-lg h-full w-full " style="border: 2px solid white; margin-right: 1rem;">
            <a href="#" class="flex flex-col items-center px-2 justify-center text-white no-underline h-full">
              <span class="mb-4">Join us on Discord!</span>
              <i class="fab fa-discord" style="font-size: 3rem;"></i>
            </a>
          </div>

          <div class="flex flex-col items-center justify-center py-4 px-6 rounded-lg h-full w-full" style="border: 2px solid white;">
            <span class="mb-4">Subscribe newsletters!</span>
            <div class="flex w-full px-2">
              <input type="text" placeholder="" class="rounded-l-md focus:outline-none text-black flex-grow px-2">
              <button class="bg-red-800 text-white px-2 rounded-r-md">→</button>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</footer>
</body>

<script>
  var header = document.getElementById('header')
  var header_bg = 'rgba(0, 0, 0, 0.9)';
  var brand_logo = document.getElementById('brand_logo');
  var nav_content = document.getElementById('nav_content');
  var nav_toggle = document.getElementById('nav_toggle');
  var nav_icon = document.getElementById('nav_icon');
  var cover_bg = document.getElementById('cover-bg');

  document.addEventListener("DOMContentLoaded", function(event) {
    if (typeof(cover_bg) == 'undefined' || cover_bg == null) {
      header.style.backgroundColor = header_bg;
    }
  });

  document.addEventListener('scroll', function() {
    if (typeof(cover_bg) != 'undefined' && cover_bg != null) {
      if (window.scrollY > 10) {
        header.style.backgroundColor = header_bg;
      } else {
        header.style.backgroundColor = '';
      }
    }
  });

  document.onclick = function(e) {
    var target = (e && e.target) || (event && event.srcElement);

    if (!checkParent(target, nav_content)) {
      if (checkParent(target, nav_toggle)) {
        if (nav_content.classList.contains('hidden')) {
          nav_icon.classList.add('open');
          nav_content.classList.remove('hidden');
          brand_logo.classList.remove('hidden');
          header.style.backgroundColor = header_bg;
          document.body.classList.add('overflow-hidden');
        } else {
          nav_icon.classList.remove('open');
          nav_content.classList.add('hidden');
          brand_logo.classList.add('hidden');
          document.body.classList.remove('overflow-hidden');
          if (typeof(cover_bg) != 'undefined' && cover_bg != null && window.scrollY <= 10) {
            header.style.backgroundColor = '';
          }
        }
      }
    }
  }

  function checkParent(t, elm) {
    while (t.parentNode) {
      if ( t == elm ) {
        return true;
      }
      t = t.parentNode;
    }
    return false;
  }
</script>

</html>
