{% extends "base.html" %}
{% set cover_text = "blog" %}
{% block title %}{{ SITENAME }} - {{ cover_text }}{% endblock %}

{% block content %}
  <div class="container mx-auto max-w-6xl p-10">
    <div class="flex flex-row flex-wrap -mx-2">
      {% for article in articles_page.object_list %}
        <div class="w-full sm:w-full md:w-1/2 mb-4 px-2">
          <div class="max-w-4xl flex flex-col h-full px-10 my-4 py-6 bg-white rounded-lg shadow-md">
            <div class="flex justify-between items-center">
              <span class="font-light text-gray-600">{{ article.date.strftime("%d %b %Y") }}</span>
            </div>

            <div class="mt-2">
              <a class="text-gray-800 no-underline hover:no-underline" href="{{ article.url }}">
                <h3>{{ article.title }}</h3>
              </a>

              <div class="mt-2 text-gray-700">
                {{ article.summary }}
              </div>
            </div>

            <div class="flex-1"></div> <!-- Added this flex box to grow and fill the available space -->

            <div class="flex justify-between items-center mt-4">
              <a class="text-blue-600 hover:underline" href="{{ article.url }}">Read more</a>
              <div>
                <div class="flex items-center">
                  <h6 class="text-gray-600 mx-2">By</h6>
                  <h5 class="text-gray-600">{{ article.author }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
{% endblock content %}
