{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
  <!-- Primary Meta Tags -->
  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="{{ page.summary|striptags }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.summary|striptags }}">
  <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/sciworkbkg.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ SITEURL }}/{{ page.url }}">
  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:description" content="{{ page.summary|striptags }}">
  <meta property="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/sciworkbkg.png">

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% include 'cover.html' %}

  <div class="container mx-auto max-w-6xl p-10 text-gray-800">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
  </div>
{% endblock %}
